In [2]:
import os
os.listdir()

['Untitled.ipynb',
 'supermarkets.json',
 'supermarkets.csv',
 'supermarkets-semi-colons.txt',
 'supermarkets.xlsx',
 '.ipynb_checkpoints',
 'supermarkets-commas.txt']

In [5]:
import pandas

df1 = pandas.read_csv("supermarkets.csv")
df1
df1.set_index("ID")

,Address,City,State,Country,Name,Employees
ID,,,,,,
1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
3,332 Hill St,San Francisco,California 94114,USA,Super River,25
4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [12]:
df2 = pandas. read_json("supermarkets.json")
df2

df2.set_index("ID")

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [13]:
df3=pandas.read_excel("supermarkets.xlsx")

In [14]:
df3

,ID,Address,City,State,Country,Supermarket Name,Number of Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [15]:
df4 = pandas.read_csv("http://pythonhow.com/supermarkets.csv")

In [16]:
df4

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [19]:
df5 = pandas.read_json("https://en.wikipedia.org/wiki/Wikipedia")
df5

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)>

In [22]:
df5 = pandas.read_json("http://pythonhow.com/supermarkets.json")
df5

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [23]:
df5.set_index("Address")

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [24]:
df5 = df5.set_index("Address")
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [25]:
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [26]:
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [28]:
df5.loc["332 Hill St": "551 Alvarado St","ID":"Name"]

                 ID         Name
Address
332 Hill St       3  Super River
3995 23rd St      4   Ben's Shop
1056 Sanchez St   5      Sanchez
551 Alvarado St   6   Richvalley

In [30]:
df5.set_index?

In [32]:
df5.iloc[2:3,3:4]

             ID
Address
332 Hill St   3

In [36]:
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [37]:
df5.iloc[2:3,3:4]

             ID
Address
332 Hill St   3

In [38]:
df5

,City,Country,Employees,ID,Name,State
Address,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [39]:
df5.drop(2)

ValueError: labels [2] not contained in axis

In [40]:
df5.drop("Country",1)

                          City  Employees  ID         Name             State
Address
3666 21st St     San Francisco          8   1      Madeira          CA 94114
735 Dolores St   San Francisco         15   2  Bready Shop          CA 94119
332 Hill St      San Francisco         25   3  Super River  California 94114
3995 23rd St     San Francisco         10   4   Ben's Shop          CA 94114
1056 Sanchez St  San Francisco         12   5      Sanchez        California
551 Alvarado St  San Francisco         20   6   Richvalley          CA 94114

In [42]:
df5.drop("Country",1)

                          City  Employees  ID         Name             State
Address
3666 21st St     San Francisco          8   1      Madeira          CA 94114
735 Dolores St   San Francisco         15   2  Bready Shop          CA 94119
332 Hill St      San Francisco         25   3  Super River  California 94114
3995 23rd St     San Francisco         10   4   Ben's Shop          CA 94114
1056 Sanchez St  San Francisco         12   5      Sanchez        California
551 Alvarado St  San Francisco         20   6   Richvalley          CA 94114

In [45]:
df5.drop("ID",1)

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [52]:
df5.drop(df5.iloc[2:3,3:4],1)

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [53]:
df5["Origin"] = df5.shape[0]*["North American"]
df5

,City,Country,Employees,ID,Name,State,Origin
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North American
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North American
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North American
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North American
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North American
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North American

In [54]:
df5

,City,Country,Employees,ID,Name,State,Origin
Address,,,,,,,
3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North American
735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North American
332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North American
3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North American
1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North American
551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North American

In [56]:
df5["Origin"] = df5["USA"] + ',' + df5["North American"]
df5

KeyError: 'USA'

In [57]:
df5["Origin"] = df5["USA"] + ',' +["North American"]

KeyError: 'USA'

In [5]:
df5["Origin"] = "USA" + ',' + df5["Origin"]
df5

KeyError: 'Origin'

In [1]:
df5

NameError: name 'df5' is not defined

In [2]:
df4

NameError: name 'df4' is not defined

In [6]:
import pandas
df5 = pandas.read_json("http://pythonhow.com/supermarkets.json")
df5

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [8]:
df5["Origin"] ="North America"
df5

,Address,City,Country,Employees,ID,Name,State,Origin
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,North America
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,North America
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,North America
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,North America
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,North America
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,North America

In [9]:
df5["Origin"] = "USA" + ',' + df5["Origin"]
df5

,Address,City,Country,Employees,ID,Name,State,Origin
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,"USA,North America"
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,"USA,North America"
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,"USA,North America"
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,"USA,North America"
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,"USA,North America"
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,"USA,North America"

In [32]:
from geopy.geocoders import Nominatim

In [33]:
nom = Nominatim(scheme="http")

In [44]:
n = nom.geocode("3995 23rd St, San Francisco, CA 94114")
print(n)

3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America

In [45]:
print(n)

3995, 23rd Street, Noe Valley, SF, California, 94114, United States of America

In [51]:
import pandas
df = pandas.read_csv("supermarkets.csv")
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [62]:
df["Address"] = df["Address"] + "," + df["City"] + "," + df["State"]+ ',' + df["Country"]
df

,ID,Address,City,State,Country,Name,Employees
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20

In [56]:
df

,ID,Address,City,State,Country,Name,Employees,Addess
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco,CA 94114,USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco,CA 94119,USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco,California 94114,USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco,CA 94114,USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco,California,USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco,CA 94114,USA"

In [57]:
df.drop("Addess")

ValueError: labels ['Addess'] not contained in axis

In [58]:
df.drop(df["Addess"])

ValueError: labels ['3666 21st St,San Francisco,CA 94114,USA'
 '735 Dolores St,San Francisco,CA 94119,USA'
 '332 Hill St,San Francisco,California 94114,USA'
 '3995 23rd St,San Francisco,CA 94114,USA'
 '1056 Sanchez St,San Francisco,California,USA'
 '551 Alvarado St,San Francisco,CA 94114,USA'] not contained in axis

In [59]:
df

,ID,Address,City,State,Country,Name,Employees,Addess
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8,"3666 21st St,San Francisco,CA 94114,USA"
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15,"735 Dolores St,San Francisco,CA 94119,USA"
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25,"332 Hill St,San Francisco,California 94114,USA"
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10,"3995 23rd St,San Francisco,CA 94114,USA"
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12,"1056 Sanchez St,San Francisco,California,USA"
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20,"551 Alvarado St,San Francisco,CA 94114,USA"

In [60]:
del df['Addess']

In [61]:
df

,ID,Address,City,State,Country,Name,Employees
0,1,3666 21st St,San Francisco,CA 94114,USA,Madeira,8
1,2,735 Dolores St,San Francisco,CA 94119,USA,Bready Shop,15
2,3,332 Hill St,San Francisco,California 94114,USA,Super River,25
3,4,3995 23rd St,San Francisco,CA 94114,USA,Ben's Shop,10
4,5,1056 Sanchez St,San Francisco,California,USA,Sanchez,12
5,6,551 Alvarado St,San Francisco,CA 94114,USA,Richvalley,20

In [65]:
df['Cordinates'] = df["Address"].apply(nom.geocode)
df

,ID,Address,City,State,Country,Name,Employees,Cordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."

In [67]:
df["Coordinates"] = df["Cordinates"]
df

,ID,Address,City,State,Country,Name,Employees,Cordinates,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California...","(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District...","(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9...","(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ...","(Alvarado Street, Noe Valley, SF, California, ..."

In [72]:
del df['Cordinates']
df

,ID,Address,City,State,Country,Name,Employees,Coordinates
0,1,"3666 21st St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Madeira,8,"(21st Street, Mission District, SF, California..."
1,2,"735 Dolores St,San Francisco,CA 94119,USA",San Francisco,CA 94119,USA,Bready Shop,15,None
2,3,"332 Hill St,San Francisco,California 94114,USA",San Francisco,California 94114,USA,Super River,25,"(Hill Street, Liberty Street Historic District..."
3,4,"3995 23rd St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Ben's Shop,10,"(3995, 23rd Street, Noe Valley, SF, California..."
4,5,"1056 Sanchez St,San Francisco,California,USA",San Francisco,California,USA,Sanchez,12,"(Sanchez Street, Noe Valley, SF, California, 9..."
5,6,"551 Alvarado St,San Francisco,CA 94114,USA",San Francisco,CA 94114,USA,Richvalley,20,"(Alvarado Street, Noe Valley, SF, California, ..."